form(role='form')
    div(class='form-group row trader', id='trader') 
        label(for='trader') #{trader.name}:
        for resource in trader.hand
            label #{resource}
                select(class='form-control trade-bank',id=trader.name+'-'+resource)
                    for i in resourcesTrader[resource]
                        option(class='tradeResource') #{i}
    hr
    div(class='form-group row trader', id='bank') 
        label(for='bank') Bank:
        for resource in trader.hand
            label #{resource}
                select(class='form-control trade-bank',id='bank-'+resource)
                    for i in resourcesBank[resource]
                        option(class='tradeResource') #{i}
div(class='alert alert-danger fade out')
    button(type='button', class='close', data-dismiss='alert', aria-hidden='true')&times;
    h4 You tried to trade the wrong number of resources!