table(class='table table-striped')
    tr
        th Player
        th Ore
        th Lumber
        th Brick
        th Sheep
        th Grain
        th Soldier
        th Monopoly
        th Year of Plenty
        th Road Building
        th VP Cards
        th Army Size
        th Points
        th Trade With:
    for player in game.players
        tr(id=player.number)
            td #{player.name}
            td #{player.hand.ore}
            td #{player.hand.lumber}
            td #{player.hand.brick}
            td #{player.hand.sheep}
            td #{player.hand.grain}
            td(class='Soldier') #{player.devcards.Soldier}
            td(class='Monopoly') #{player.devcards.Monopoly}
            td(class='YearOfPlenty') #{player.devcards['Year Of Plenty']}
            td(class='RoadBuilding') #{player.devcards['Road Building']}
            td(class='VictoryPoint') #{player.devcards['Victory Point']}
            td #{player.soldiers}
            td #{player.points}
            td
                button(class='btn btn-trade',id=player.number, data-toggle='modal', data-target='#trade') Trade
    tr
        td(colspan=6)
            button(class='btn btn-dev', id='buyDev') Buy Development Card
        td
            button(class='btn btn-play',id='Soldier') Play
        td
            button(class='btn btn-play',id='Monopoly') Play
        td
            button(class='btn btn-play',id='YearOfPlenty') Play
        td
            button(class='btn btn-play',id='RoadBuilding') Play
        td
            button(class='btn btn-play',id='VictoryPoint') Play
        td
        td
        td