table(class='table')
    tr
        th Player
        th Ore
        th Lumber
        th Brick
        th Sheep
        th Grain
        th Soldier
        th Monopoly
        th Year of Plenty
        th Road Building
        th VP Cards
        th Army Size
        th Points
    for player in players
        tr
            td #{player.name}
            td #{player.hand.ore}
            td #{player.hand.lumber}
            td #{player.hand.brick}
            td #{player.hand.sheep}
            td #{player.hand.grain}
            td #{player.devcards.Soldier}
            td #{player.devcards.Monopoly}
            td #{player.devcards['Year Of Plenty']}
            td #{player.devcards['Road Building']}
            td #{player.devcards['Victory Point']}
            td #{player.soldiers}
            td #{player.points}