form(role='form')
    div(class='form-group row trader', id='trader1')
        label(for='trader1') #{trader1.name}:
        for resource in trader1.hand
            label #{resource}
                select(class='form-control trade-players',id=trader1.name+'-'+resource)
                    for i in resources1[resource]
                        option(class='tradeResource') #{i}
    hr
    div(class='form-group row trader', id='trader2') 
        label(for='trader2') #{trader2.name}:
        for resource in trader2.hand
            label #{resource}
                select(class='form-control trade-players',id=trader2.name+'-'+resource)
                    for i in resources2[resource]
                        option(class='tradeResource') #{i}
